@import '@/style/variable.scss';
@import '@/style/mixin.scss';

.topList {
  display: flex;
  // height: 100%;
  border-left: 1px solid $border-color-bottom;
  border-right: 1px solid $border-color-bottom;

  .leftDiv {
    width: 240px;

    .bgc {
      background-color: $background-color-theme2;
    }

    h2 {
      margin-top: 20px;
      padding: 20px 10px 12px 15px;
      font-size: $font-m;
      font-weight: 900;
      color: $font-color-dark;
    }

    .leftTopName {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 10px;
    }

    li {
      position: relative;
      padding: 10px 0 10px 20px;
      font-size: $font-s;

      a {
        display: flex;
        color: $font-color-dark;
      }

    }
  }

  .rightDiv {
    width: 739px;
    border-left: 1px solid $border-color-bottom;
    background-color: $background-color-theme1;

    // 榜头部
    .synopsis {
      display: flex;
      padding: 40px;

      .leftSynopsis {
        position: relative;
        width: 160px;
        height: 160px;

        img {
          padding: 3px;
          border: 1px solid $border-color-bottom;
        }

        .mark {
          position: absolute;
          left: 0;
          // display: block;
          width: 155px;
          height: 155px;
          background: url(../../assets/coverall.png) 0 -145px;
        }
      }


      .rightSynopsis {
        margin-left: 30px;
        margin-top: 15px;

        h2 {
          font-size: 20px;
          margin-bottom: 15px;
        }

        .updateTime {
          display: flex;
          font-size: $font-s;
          color: $font-color-grey6;
          line-height: 15px;

          .icon {
            display: block;
            width: 15px;
            height: 15px;
            padding-right: 5px;
            background: url(../../assets/icon.png) -70px -140px;
          }
        }
      }
    }

    // 歌曲列表
    .songList {
      margin: 0 35px;

      .title {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-content: center;
        height: 33px;
        line-height: 33px;
        font-size: $font-s;
        color: $font-color-grey6;
        border-bottom: 2px solid $border-color-bottom1;

        h3 {
          font-size: $font-xxl;
          color: $font-color-dark0;
        }

        p {
          position: absolute;
          left: 120px;
        }

        strong {
          color: $font-color-red;
          font-weight: bold;
        }
      }

      .m-table {
        width: 100%;
        border: 1px solid $border-color-bottom;
        box-sizing: border-box;

        .songName {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .topImg {
            float: left;
            margin-right: 10px;
          }

          .playIcon {
            display: block;
            width: 17px;
            height: 17px;
            background: url(../../assets/index.png) -267px -268px;
          }

          .playIcon:hover {
            background: url(../../assets/index.png) -267px -288px;
          }

          p {
            max-width: 260px;
            @include oneTextHidden;

            a {
              margin: 0 10px;
            }

            .alia {
              color: $font-color-alia;
            }
          }

        }

        .odd {
          background-color: #f7f7f7;
        }

        a {
          color: $font-color-dark0;
          @include oneTextHidden;
        }

        a:hover {
          @include hover
        }

        tr {
          display: flex;
          font-size: $font-s;
          width: 668px;

          th {
            display: flex;
            color: $font-color-grey6;
            padding: 10px 5px;
            border-left: 1px solid $border-color-bottom;
            border-bottom: 1px solid $border-color-bottom;
          }

          td {
            margin: auto;
            padding: 5px;
            @include oneTextHidden;
          }
        }
      }
    }
  }
}