@import '@/style/variable.scss';
@import '@/style/mixin.scss';

.mask {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
}

.playlist {
  padding: 40px;
  border-left: 1px solid $border-color-bottom;
  border-right: 1px solid $border-color-bottom;
  min-height: 700px;
  box-sizing: border-box;
  background-color: $background-color-theme1;

  .playlistNav {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 2px solid $border-color-bottom1;
    height: 40px;

    .selectCat {
      display: block;
      text-align: center;
      margin-left: 10px;
      width: 90px;
      height: 30px;
      line-height: 30px;
      font-size: $font-s;
      color: #5e9cda;
      border: 1px solid $border-color-bottom;
      background-color: #fefefe;
      border-radius: 5px;
    }

    .chooseCategory {
      position: absolute;
      left: -30px;
      top: 54px;
      width: 720px;
      min-height: 300px;
      background-color: $background-color-theme1;
      border-radius: 5px;
      box-shadow: 0 1px 3px 1px #9b9b9b;
      z-index: 10;
      box-sizing: border-box;

      .icon {
        display: block;
        position: absolute;
        top: -10px;
        left: 120px;
        width: 20px;
        height: 11px;
        background: url(../../assets/iconall.png) -50px 0;
      }

      .topPlaceholder {
        border-bottom: 1px solid $border-color-bottom;
        padding: 10px;

        a {
          display: block;
          text-align: center;
          width: 75px;
          height: 25px;
          line-height: 25px;
          color: $font-color-dark;
          border: 1px solid $border-color-bottom;
          border-radius: 5px;
          font-size: $font-s;
          margin-left: 10px;
        }
      }

      .bottomPlaceholder {
        border-top: 1px solid $border-color-bottom;
        padding: 22px;
      }

      dl {
        display: flex;
        align-items: center;
        margin: 0px;
        font-size: $font-s;

        dt {
          flex: 1;
          margin-left: 20px;
          font-size: $font-m;
        }

        dd {
          flex: 9;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin: 0px;
          padding: 10px;
          color: $font-color-dark;
          border-left: 1px solid $border-color-bottom;

          a {
            line-height: 1.8;
            color: #333;
          }

          a:hover {
            @include hover
          }

          span {
            padding: 0 10px;
          }


        }
      }
    }
  }

  .hotCommendCard {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;

    .picture {
      position: relative;
      margin-right: 50px;
      margin-top: 20px;
      width: 140px;
      height: 188px;
      line-height: 1.5;

      img {
        box-shadow: 1px 2px 3px #383838;
      }

      a {
        color: $font-color-dark0;
        font-size: $font-m;
      }

      .commendName {
        // padding-top: 6px;
        max-width: 140px;
        @include oneTextHidden;

        a:hover {
          @include hover;
        }
      }

      .bynickname {
        font-size: $font-s;
        color: $font-color-grey6;
      }

      .playBgi {
        position: absolute;
        bottom: 48px;
        width: 100%;
        height: 27px;
        line-height: 27px;
        color: $font-color-ccc;
        font-size: $font-s;
        background: url(../../assets/coverall.png) 0px -533px;

        .earphoneIcon {
          display: block;
          margin: 8px 7px 0 10px;
          float: left;
          width: 14px;
          height: 14px;
          background: url(../../assets/iconall.png) 0px -21px;
        }

        .playCount {
          display: block;
          margin-top: 3px;
          float: left;
        }

        .playIcon {
          display: block;
          float: right;
          z-index: 10;
          margin: 8px 7px 0 10px;
          width: 16px;
          height: 16px;
          background: url(../../assets/iconall.png) 0px 0px;
        }

        .playIcon:hover {
          background: url(../../assets/iconall.png) 0px -60px;
        }
      }
    }

  }

  .hotCommendCard :nth-child(5n) {
    margin-right: 0px;
  }
}