.mask {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1;
}

.playlist {
  width: 980px;
  margin: 0 auto;
  padding: 40px;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  min-height: 700px;
  box-sizing: border-box;
  //   background-color: #fff;

  .playlistNav {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #c10d0c;
    height: 40px;

    .selectCat {
      position: relative;
      display: block;
      text-align: center;
      margin-left: 10px;
      width: 90px;
      height: 30px;
      line-height: 30px;
      font-size: 12px;
      font-weight: 500;
      color: #5e9cda;
      border: 1px solid #c4c4c4;
      background-color: #fefefe;
      border-radius: 5px;
    }

    .chooseCategory {
      position: absolute;
      left: -30px;
      top: 54px;
      width: 720px;
      min-height: 300px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 1px 3px 1px #9b9b9b;
      z-index: 10;
      box-sizing: border-box;

      .icon {
        display: block;
        position: absolute;
        top: -10px;
        left: 120px;
        width: 20px;
        height: 11px;
        background: url(../../assets/iconall.png) -50px 0;
      }

      .all {
        border-bottom: 1px solid #d9d9d9;
        padding: 10px;

        a {
          text-align: center;
          width: 75px;
          height: 26px;
          line-height: 26px;
          font-size: 12px;
          color: #333;
          border: 1px solid #c4c4c4;
          border-radius: 5px;
        }
      }

      dl {
        display: flex;
        align-items: center;

        margin: 10px;
        font-size: 12px;

        dt {
          flex: 1;
        }

        dd {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          flex: 9;
          padding: 0 5px;
          color: #333;

          a {
            line-height: 1.8;
            color: #333;
            border-bottom: 1px solid #fff;
          }

          span {
            padding: 0 10px;
          }

          a:hover {
            border-bottom: 1px solid #333;
          }
        }
      }
    }
  }

  .hotCommendCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    min-height: 600px;
    padding-top: 10px;
    margin-bottom: 20px;
    overflow: hidden;

    .picture {
      position: relative;
      margin: 10px 19px;
      width: 140px;
      height: 204px;
      line-height: 1.2;

      img {
        box-shadow: 1px 2px 3px #383838;
      }

      a {
        color: black;
        font-size: 14px;
      }

      .commendName {
        padding-top: 6px;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;

        a:hover {
          border-bottom: 1px solid #000;
        }
      }

      .playBgi {
        position: absolute;
        bottom: 64px;
        right: 0;
        width: 100%;
        height: 27px;
        line-height: 27px;
        color: #ccc;
        font-size: 12px;
        background: url(../../assets/coverall.png) 0px -533px;

        .earphoneIcon {
          display: block;
          margin: 8px 7px 0 10px;
          float: left;
          width: 14px;
          height: 14px;
          background: url(../../assets/iconall.png) 0px -21px;
        }

        .playCount {
          display: block;
          margin-top: 3px;
          float: left;
        }

        .playIcon {
          display: block;
          float: right;
          z-index: 10;
          margin: 8px 7px 0 10px;
          width: 16px;
          height: 16px;
          background: url(../../assets/iconall.png) 0px 0px;
        }

        .playIcon:hover {
          background: url(../../assets/iconall.png) 0px -60px;
        }
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
}