.playlist {
    width: 980px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #d3d3d3;
    min-height: 700px;
    box-sizing: border-box;
    background-color: #fff;

    .playlistNav {
        position: relative;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #c10d0c;
        height: 40px;

        .selectCat {
            position: relative;
            display: block;
            text-align: center;
            margin-left: 10px;
            width: 90px;
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            font-weight: 500;
            color: #5e9cda;
            border: 1px solid #c4c4c4;
            background-color: #fefefe;
            border-radius: 5px;
        }

        .catHot {
            position: absolute;
            right: 0;
            border: 1px solid #a80a08;
            background-color: #c70b0b;
            border-radius: 3px;
            height: 25px;
            line-height: 25px;
            font-size: 14px;
            padding: 0 6px;

            a {
                font-size: 12px;
                color: #fff;
            }

            a:hover {
                border-bottom: 1px solid #fff;
            }
        }

        .chooseCategory {
            position: absolute;
            left: -30px;
            top: 54px;
            width: 720px;
            min-height: 300px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 1px 3px 1px #9b9b9b;
            z-index: 10;
            box-sizing: border-box;

            .icon {
                display: block;
                position: absolute;
                top: -10px;
                left: 120px;
                width: 20px;
                height: 11px;
                background: url(../../assets/iconall.png) -50px 0;
            }

            .all {
                border-bottom: 1px solid #d9d9d9;
                padding: 10px;

                a {
                    text-align: center;
                    width: 75px;
                    height: 26px;
                    line-height: 26px;
                    font-size: 12px;
                    color: #333;
                    border: 1px solid #c4c4c4;
                    border-radius: 5px;
                }
            }

            dl {
                display: flex;
                align-items: center;

                margin: 10px;
                font-size: 12px;

                dt {
                    flex: 1;
                }

                dd {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    flex: 9;
                    padding: 0 5px;
                    color: #333;

                    a {
                        line-height: 1.8;
                        color: #333;
                        border-bottom: 1px solid #fff;
                    }

                    span {
                        padding: 0 10px;
                    }

                    a:hover {
                        border-bottom: 1px solid #333;

                    }
                }
            }
        }
    }
}