.leaderBoard {
  width: 730px;
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  .leaderBoardNav {
    border-bottom: 2px solid #c10d0c;
    height: 33px;
    line-height: 33px;
    .hotNavIcon {
      display: block;
      float: left;
      width: 30px;
      height: 35px;
      background: url(../../../assets/index.png) -235px -155px;
    }
    .goToplist {
      font-size: 20px;
      color: black;
    }
    .goMore {
      float: right;
      font-size: 12px;
    }
  }
  .leaderBoardCard {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #d3d3d3;
    background: #f5f5f5;
    box-sizing: border-box;
    .listDetails {
      position: relative;
      display: flex;
      .mark {
        position: absolute;
        left: 0;
        // display: block;
        width: 100px;
        height: 100px;
        background: url(../../../assets/coverall.png) -240px -70px;
      }
      .toToplist {
        margin-top: 5px;
        margin-left: 10px;
        a {
          color: #000;
          font-size: 14px;
        }
        a:hover {
          border-bottom: 1px solid #000;
        }

        .playIcon {
          display: block;
          float: left;
          z-index: 10;
          margin-top: 8px;
          width: 23px;
          height: 23px;
          background: url(../../../assets/index.png) -267px -205px;
        }
        .playIcon:hover {
          background: url(../../../assets/index.png) -267px -235px;
        }
        .collect {
          display: block;
          z-index: 10;
          margin-top: 8px;
          margin-left: 30px;
          width: 23px;
          height: 23px;
          background: url(../../../assets/index.png) -300px -205px;
        }
        .collect:hover {
          background: url(../../../assets/index.png) -300px -235px;
        }
      }
    }
  }
}

