.leaderBoard {
  width: 730px;
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  .leaderBoardNav {
    border-bottom: 2px solid #c10d0c;
    height: 33px;
    line-height: 33px;
    .goToplist {
      font-size: 20px;
      color: black;
    }
    .goMore {
      float: right;
      font-size: 12px;
    }
  }
  .leaderBoardCard {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #d3d3d3;
    background: #f5f5f5;
    box-sizing: border-box;
    .listDetails {
      // position: relative;
      display: flex;
      img {
        background: url(../../../assets/coverall.png) no-repeat -240px -70px;
      }
      .toToplist {
        margin-top: 5px;
        margin-left: 10px;
        a {
          color: #000;
          font-size: 14px;
        }
        a:hover {
          border-bottom: 1px solid #000;
        }
      }
    }
  }
}
