.disSwi {
  position: relative;
  overflow: hidden;
  height: 285px;
  width: 100%;

  .blurred-background {
    position: absolute;
    width: 100%;
    height: 285px;
    background-size: 6000px;
    background-position: center center;
    filter: blur(80px);
  }

  .swiper {
    position: relative;
    .swiper-container {
      float: left;
      width: 730px;
      .swiper-pagination {
        .swiper-pagination-bullet {
          width: 6px;
          height: 6px;
        }
        .swiper-pagination-bullet-active {
          background: #d61414;
        }
      }
      .swiper-slide {
        img {
          display: block;
          width: 730px;
          height: 285px;
        }
      }
    }
    .download {
      position: absolute;
      top: 0;
      z-index: 10;
      right: 120px;
      width: 251px;
      height: 285px;
      background: url(../../../assets/download.png) no-repeat 0 0;
      .btn {
        position: absolute;
        bottom: 45px;
        left: 20px;
        width: 215px;
        height: 60px;
      }
    }
  }
}
