.rightCard {
  position: absolute;
  float: right;
  left: 790px;
  top: 0;
  border: 1px solid #d3d3d3;
  width: 250px;
  height: 1030px;
  box-sizing: border-box;
  background-color: #fff;

  .toLogin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    height: 126px;
    line-height: 1.4;
    font-size: 12px;
    background-color: rgb(233, 233, 233);
    box-shadow: 0px 3px 3px #888888;
    button {
      width: 100px;
      height: 31px;
      line-height: 31px;
      text-align: center;
      color: #fff;
      text-shadow: 0 1px 0 #8a060b;
      border-radius: 5px;
      border: 0;
      background: url(../../../assets/index.png) -110px -195px;
    }
  }

  .singer {
    padding: 20px;
    background-color: #fff;
    .singerNav {
      // display: flex;
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc;
      font-size: 12px;
      a {
        float: right;
      }
      a:hover {
        border-bottom: 1px solid #000;
      }
    }
    .singerDetail {
      display: flex;
      border: 1px solid #e9e9e9;
      margin-top: 10px;
      background: #f5f5f5;
      p {
        padding-left: 20px;
        padding-top: 10px;
        font-size: 14px;
      }
    }
    .singerDetail:hover {
      background-color: rgb(231, 231, 231);
    }
  }

  .anchor {
    padding: 20px;
    .anchorNav {
      // display: flex;
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc;
      font-size: 12px;
      a {
        float: right;
      }
    }

    .anchorList {
      padding: 10px 0;
      li {
        display: flex;
        font-size: 12px;
        margin-top: 5px;
        p {
          margin-top: 3px;
          margin-left: 8px;
          a {
            color: #000;
          }
          a:hover {
            border-bottom: 1px solid #000;
          }
        }
        span {
          display: block;
          width: 11px;
          height: 13px;
          margin-left: 3px;
          margin-top: 3px;
          background: url(../../../assets/icon.png) 0 0;
        }
      }
    }
  }
}
