@import '@/style/variable.scss';
@import '@/style/mixin.scss';


.bactop {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: $background-color-theme2;
    font-size: $font-s;
    text-align: center;
    color: $font-color-dark;
}

.ant-back-top {
    left: 50%;
    bottom: 100px;
    margin-left: 500px;
}
