@import '@/style/variable.scss';
@import '@/style/mixin.scss';

.bigDiv {
    border: 1px solid $border-color-bottom;
    border-bottom: 0;
    background-color: $background-color-theme1;
    box-sizing: border-box;

}

// 热门推荐
.hotCommend {
    width: 730px;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid $border-color-bottom;

    .hotCommendCard {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding-top: 10px;

        .picture {
            position: relative;
            width: 140px;
            height: 204px;

            .commendName {
                color: $font-color-dark0;
                font-size: $font-m;
            }

            .commendName:hover {
                @include hover
            }

            .playBgi {
                position: absolute;
                bottom: 64px;
                right: 0;
                width: 100%;
                height: 27px;
                line-height: 27px;
                color: #ccc;
                font-size: 12px;
                background: url(../../assets/coverall.png) 0px -533px;

                .earphoneIcon {
                    display: block;
                    margin: 8px 7px 0 10px;
                    float: left;
                    width: 14px;
                    height: 14px;
                    background: url(../../assets/iconall.png) 0px -21px;
                }

                .playCount {
                    display: block;
                    margin-top: 3px;
                    float: left;
                }

                .playIcon {
                    display: block;
                    float: right;
                    z-index: 10;
                    margin: 8px 7px 0 10px;
                    width: 16px;
                    height: 16px;
                    background: url(../../assets/iconall.png) 0px 0px;
                }

                .playIcon:hover {
                    background: url(../../assets/iconall.png) 0px -60px;
                }

            }
        }
    }
}

// 榜单
.leaderBoard {
    width: 730px;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid $border-color-bottom;

    .leaderBoardCard {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        padding: 20px;
        border: 1px solid $border-color-bottom;
        background: $background-color-theme;
        box-sizing: border-box;

        .listDetails {
            position: relative;
            display: flex;

            .mark {
                position: absolute;
                left: 0;
                // display: block;
                width: 100px;
                height: 100px;
                background: url(../../assets/coverall.png) -240px -70px;
            }

            .toToplist {
                margin-top: 5px;
                margin-left: 10px;

                a {
                    color: $font-color-dark;
                    font-size: $font-m;
                }

                a:hover {
                    @include hover;
                }

                .playIcon {
                    display: block;
                    float: left;
                    z-index: 10;
                    margin-top: 8px;
                    width: 23px;
                    height: 23px;
                    background: url(../../assets/index.png) -267px -205px;
                }

                .playIcon:hover {
                    background: url(../../assets/index.png) -267px -235px;
                }

                .collect {
                    display: block;
                    z-index: 10;
                    margin-top: 8px;
                    margin-left: 30px;
                    width: 23px;
                    height: 23px;
                    background: url(../../assets/index.png) -300px -205px;
                }

                .collect:hover {
                    background: url(../../assets/index.png) -300px -235px;
                }
            }
        }
    }
}

// 右侧热门
.rightCard {
    position: absolute;
    left: 790px;
    top: 0;
    width: 250px;
    box-sizing: border-box;

    .toLogin {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 20px;
        height: 126px;
        font-size: $font-s;
        color: #666;
        background: url(../../assets/index.png) 0 0;

        button {
            width: 100px;
            height: 31px;
            line-height: 31px;
            text-align: center;
            color: #fff;
            text-shadow: 0 1px 0 #8a060b;
            border-radius: 5px;
            border: 0;
            background: url(../../assets/index.png) -110px -195px;
        }
    }

    .singer {
        padding: 20px;

        .singerNav {
            // display: flex;
            padding-bottom: 10px;
            border-bottom: 1px solid #ccc;
            font-size: $font-s;

            a {
                float: right;
                color: $font-color-grey6;
            }

            a:hover {
                @include hover;
            }
        }

        .singerDetail {
            display: flex;
            border: 1px solid $border-color-bottom2;
            margin-top: 10px;
            background: #fafafa;

            p {
                padding-left: 20px;
                padding-top: 10px;
                font-size: $font-m;
                color: $font-color-dark;
            }
        }

        .singerDetail:hover {
            background-color: rgb(231, 231, 231);
        }
    }

    .anchor {
        padding: 20px;

        .anchorNav {
            // display: flex;
            padding-bottom: 10px;
            border-bottom: 1px solid $border-color-bottom;
            font-size: $font-s;
        }

        .anchorList {
            padding: 10px 0;

            li {
                display: flex;
                font-size: $font-s;
                margin-top: 5px;

                p {
                    margin-top: 3px;
                    margin-left: 8px;

                    a {
                        color: $font-color-dark;
                    }

                    a:hover {
                        @include hover
                    }
                }

                span {
                    display: block;
                    width: 11px;
                    height: 13px;
                    margin-left: 3px;
                    margin-top: 3px;
                    background: url(../../assets/icon.png) 0 0;
                }
            }
        }
    }
}