/*
@mixin xxx  定义
@include xxx 使用
*/
@import './variable.scss';

@mixin a_dark {
    color: $font-color-dark;
    border-bottom: 1px solid $font-color-dark;
}

@mixin a_grey {
    color: $font-color-grey;
    border-bottom: 1px solid $font-color-grey;
}

@mixin oneTextHidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin towTextHidden {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}