/*
@mixin xxx  定义
@include xxx 使用
*/
@import './variable.scss';

@mixin hover {
    text-decoration: underline;
}

@mixin oneTextHidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin towTextHidden {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}