/* 文字尺寸 */
$font-s: 12px;
$font-m: 14px;
$font-l: 16px;
$font-xl: 18px;
$font-xxl: 20px;

/*文字颜色*/
$font-color-grey6: #666;
$font-color-grey9: #999;
$font-color-alia: #aeaeae;
$font-color-ccc: #ccc;
$font-color-white: #fff;
$font-color-dark: #333;
$font-color-dark0: #000;
$font-color-red :#c20c0c;
$font-color-add: #ba2226;
$font-color-cut: #4abbeb;

/* 边框颜色 */
$border-color-bottom: #ccc;
$border-color-bottom1:#c10d0c;
$border-color-bottom2:#e9e9e9;
$border-color-bottom3: #e2e2e2;

// 背景颜色
$background-color-theme: #f5f5f5;//背景主题颜色默认
$background-color-theme1: #fff;
$background-color-theme2: #e6e6e6;


