/* 文字尺寸 */
$font-s: 12px;
$font-m: 14px;
$font-l: 16px;

/*文字颜色*/
$font-color-grey6: #666;
$font-color-grey9: #999;
$font-color-white: #fff;
$font-color-dark: #333;
$font-color-red :#c20c0c;


/* 边框颜色 */
$border-color-bottom-one: #ccc;

$background-color-theme: #f5f5f5;//背景主题颜色默认
$background-color-theme1: #fff;
