.hotNav {
  border-bottom: 2px solid #c10d0c;
  height: 33px;
  line-height: 33px;
  .goCommend {
    font-size: 20px;
    color: black;
  }
  .goMore {
    float: right;
    color: #666;
    font-size: 12px;
  }
}

.inner {
  height: 184px;
  padding-left: 16px;
  background: #f5f5f5;
  border: 1px solid #d3d3d3;
  margin: 20px 0;
}
