@import '@/style/variable.scss';
@import '@/style/mixin.scss';


.newDiscShelf {
  width: 730px;
  padding: 20px;
  box-sizing: border-box;
  border-right: 1px solid $border-color-bottom;

  // 新碟轮播
  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 184px;
    background: $background-color-theme;
    border: 1px solid $border-color-bottom;
    box-sizing: border-box;
    margin: 20px 0;

    .swiper-newDiscShelf {
      overflow: hidden;
      margin: 20px;

      .swiper-slide {
        font-size: $font-s;
        margin-left: 1px;

        .imgBgc {
          width: 116px;
          height: 100px;
          margin-bottom: 5px;
          background: url(../../../assets/coverall.png) 0 -569px;
        }

        img {
          box-shadow: 0 3px 5px #888888;
        }

        .newDiscName {
          width: 100px;
          @include oneTextHidden;

          .name {
            color: $font-color-grey6;
          }

          a {
            color: $font-color-dark0;
            line-height: 1.5;
          }

          a:hover {
            @include hover
          }
        }
      }
    }

    .swiper-button-prev {
      left: 0;
      width: 17px;
      height: 17px;
      background: url(../../../assets/index.png) -260px -77px;
    }

    .swiper-button-next {
      right: 0;
      width: 17px;
      height: 17px;
      background: url(../../../assets/index.png) -302px -77px;
    }
  }
}