.hotCommend {
  width: 730px;
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
  .hotNav {
    border-bottom: 2px solid #c10d0c;
    height: 33px;
    line-height: 33px;
    .hotNavIcon {
      display: block;
      float: left;
      width: 30px;
      height: 35px;
      background: url(../../../assets/index.png) -235px -155px;
    }
    .goCommend {
      font-size: 20px;
      color: black;
    }
    .goMore {
      float: right;
      font-size: 12px;
    }
  }

  .hotCommendCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    .picture {
      width: 140px;
      height: 204px;
      position: relative;
      line-height: 1.2;
      img {
        width: 140px;
        height: 140px;
        box-shadow: 1px 2px 3px #383838;
      }
      a {
        color: black;
        font-size: 14px;
      }
      .commendName {
        a:hover {
          border-bottom: 1px solid #000;
        }
      }
      .playBgi {
        position: absolute;
        bottom: 64px;
        right: 0;
        width: 100%;
        height: 27px;
        line-height: 27px;
        color: #ccc;
        font-size: 12px;
        background: url(../../../assets/coverall.png) 0px -533px;
        .earphoneIcon {
          display: block;
          margin: 8px 7px 0 10px;
          float: left;
          width: 14px;
          height: 14px;
          background: url(../../../assets/iconall.png) 0px -21px;
        }
        .playCount {
          display: block;
          margin-top: 3px;
          float: left;
        }
        .playIcon {
          display: block;
          float: right;
          z-index: 10;
          margin: 8px 7px 0 10px;
          width: 16px;
          height: 16px;
          background: url(../../../assets/iconall.png) 0px 0px;
        }
        .playIcon:hover {
          background: url(../../../assets/iconall.png) 0px -60px;
        }

      }
    }
  }
}
