@import '@/style/variable.scss';
@import '@/style/mixin.scss';

.playMusic,
.previousSong,
.playSong,
.suspend,
.nextSong,
.playImg,
.iconLocClose,
.iconLockOpen,
.controlShow,
.iconLocClose:hover,
.iconLockOpen:hover,
.previousSong:hover,
.playSong:hover,
.suspend:hover .nextSong:hover {
    background-image: url(../../assets/playbar.png);

}

.playMusic {
    position: fixed;
    bottom: 0;
    transition-property: bottom;
    transition-duration: 0.5s;
    z-index: 99;
    width: calc(100% - 66px);
    height: 50px;
    margin-right: 30px;
    padding-top: 3px;
    background-position: 0 -3px;

    .controlShow {
        width: 66px;
        height: 72px;
        position: absolute;
        bottom: 0;
        right: -66px;
        background-position: 0 -375px;

        .iconLocClose,
        .iconLockOpen {
            display: block;
            margin: 15px 15px;
            width: 20px;
            height: 20px;
        }

        .iconLocClose {
            background-position: -80px -383px;
        }

        .iconLocClose:hover {
            background-position: -80px -403px;
            cursor:pointer;
        }

        .iconLockOpen {
            background-position: -100px -383px;
        }

        .iconLockOpen:hover {
            background-position: -100px -403px;
            cursor:pointer;
        }

    }

    .playBtn {
        display: flex;
        align-items: center;
        float: left;
        height: 50px;
        width: 137px;

        .previousSong {
            display: block;
            width: 28px;
            height: 28px;
            background-position: 0 -130px;
        }

        .previousSong:hover {
            background-position: -30px -130px;
            cursor:pointer;
        }

        .playSong {
            width: 36px;
            height: 36px;
            margin: 0 7px;
            background-position: 0 -205px;
        }

        .playSong:hover {
            background-position: -40px -205px;
            cursor:pointer;
        }

        .suspend {
            width: 36px;
            height: 36px;
            margin: 0 7px;
            background-position: 0 -166px;
        }

        .suspend:hover {
            background-position: -40px -166px;
            cursor:pointer;
        }

        .nextSong {
            display: block;
            width: 28px;
            height: 28px;
            background-position: -82px -130px;
        }

        .nextSong:hover {
            background-position: -112px -130px;
            cursor:pointer;
        }
    }

    .playImg {
        background-position: 0 -80px;
        width: 35px;
        height: 35px;
        float: left;
        margin-top: 7px;
        margin-right: 15px;
    }
}
