@keyframes loading {

    0%,
    100% {
        transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
    }
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    opacity: 0.6;
    border-radius: 50%;
    background-color: red;
    animation: loading 1.4s infinite ease-in;
}