@import '@/style/variable.scss';
@import '@/style/mixin.scss';

.u-icn {
  background-image: url(../../assets/icon.png);
}

.djradio {
  width: 980px;
  margin: 0 auto;
  padding: 20px 20px;
  border-left: 1px solid $border-color-bottom;
  border-right: 1px solid $border-color-bottom;
  background-color: $background-color-theme1;

  .banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -20px;

    li {
      margin: 0 0 25px 20px;

      .specific {
        display: block;
        width: 70px;
        height: 70px;
        text-align: center;
        color: $font-color-grey6;
        font-size: $font-s;

        .icon {
          display: block;
          background-position: 0 0;
          width: 48px;
          height: 48px;
          margin: 0 auto;
        }
      }

      .z-sel {
        z-index: 99;
        color: #d35757;
        background: url(../../assets/radio_bg.png) -70px 0;
        background-color: $background-color-theme1;
      }

      .specific:hover {
        background-color: $background-color-theme2;
      }
    }


  }

  .rditop {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    .leftCommend,
    .rightTop {
      width: 426px;
      min-height: 300px;
    }
  }

  .goCommend {
    font-size: $font-xxl + 4px;
  }

  .goCommend:hover,
  .goMore:hover {
    @include hover
  }

  .box {
    width: 100%;
    margin-top: 5px;
    border: 1px solid $border-color-bottom3;
    border-top: 2px solid $border-color-bottom1;

    .odd {
      background-color: #f7f7f7;
    }

    .itm {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px;

      .order {
        width: 47px;
        text-align: center;
        // margin: 0 10px;

        .topRed {
          color: $font-color-red;
        }

        .notop {
          color: $font-color-grey9;
        }
      }


      .name {
        font-size: $font-s;
        width: 65%;
        margin-left: 10px;

        h3 {
          margin-bottom: 10px;

          a {
            display: block;
            color: $font-color-dark;
            @include oneTextHidden
          }
        }

        p {
          a {
            color: $font-color-grey9;
          }
        }

        a:hover {
          @include hover
        }

      }

      .tag {
        font-size: $font-s;
        margin-left: 10px;
        padding: 3px 6px;
        color: $font-color-grey9;
        border: 1px solid $border-color-bottom;
      }

      .tag:hover {
        color: $font-color-grey6;
        border: 1px solid $font-color-grey9;
      }
    }

    .itm:hover {
      background-color: $background-color-theme2;
    }


  }



}


.hotdjradio {
  margin-top: 10px;

  .radioRanking {
    font-size: $font-xxl + 4px;
    float: left;
  }

  .rightNo {
    float: right;
    font-size: $font-s;
    color: $font-color-grey6;

  }

  .hotRadioList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 20px;
    border-top: 2px solid $border-color-bottom1;

    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 435px;
      padding: 20px 0;
      border-bottom: 1px solid $border-color-bottom3;

      .info {
        margin-left: 20px;

        .name {
          font-size: $font-xl;
          font-weight: 700;
          margin-bottom: 20px;

          a {
            display: block;
            color: $font-color-dark;
          }

          a:hover {
            @include hover
          }

        }

        .djname {
          // display: block;
          font-size: $font-s;
          padding-bottom: 10px;
          display: flex;
          align-items: center;

          .user-icn {
            display: inline-block;
            margin-right: 10px;
            width: 14px;
            height: 15px;
            background: url(../../assets/icon.png) -50px -300px;
          }

          .music-icn {
            display: inline-block;
            margin-left: 3px;
            width: 12px;
            height: 13px;
            background: url(../../assets/icon2.png) -110px -190px;
          }

          a {
            color: $font-color-dark0;
          }

          a:hover {
            @include hover
          }
        }

        p {
          font-size: $font-s;
          color: $font-color-grey9;

        }
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
}


.show {
  display: none
}