.nav {
  position: relative;
  z-index: 99;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  background: #242424;
  border-bottom: 1px solid #000;

  .logo {
    float: left;
    width: 176px;
    height: 69px;
    background: url(../assets/topbar.png) no-repeat 0 -2px;

    a {
      width: 100;
      height: 100%;
      display: block;
    }
  }

  .navUl {
    display: flex;

    .navLi {
      position: relative;

      .sanjiao {
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0;
        left: 50%;
        transform: translateX(-50%);
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #d61414;
      }

      a {
        display: block;
        line-height: 70px;
        padding: 0 19px;
        color: #ccc;
        font-size: 14px;
      }

      a:hover {
        background-color: #000000;
        color: #ffffff;
      }

      .action {
        background-color: #000000;
        color: #ffffff;
      }
    }
  }

  .hotIcon {
    position: absolute;
    top: 20px;
    right: -25px;
    display: block;
    width: 30px;
    height: 15px;
    background: url(../assets/topbar.png) -192px 0;
  }
}

.navBar {
  z-index: 99;
  width: 100%;
  height: 35px;
  line-height: 35px;
  background-color: #d61414;

  .navUl {
    display: flex;
    justify-content: flex-start;
    padding-left: 180px;
    box-sizing: border-box;

    .navLi {
      float: left;
      margin: 0 15px;

      a {
        font-size: 12px;
        padding: 3px 15px;
        border-radius: 20px;
        color: #fff;
      }

      a:hover {
        background-color: #9b0909;
        color: #ffffff;
      }

      .actionTwo {
        background-color: #9b0909;
        color: #ffffff;
      }
    }
  }
}

.navBarString {
  z-index: 10;
  height: 5px;
  background-color: #d61414;
}